body{
    margin:0;
    font-family: Arial;
}

/* Navbar */
header{
    background:#333;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

header nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:14px;
}

header nav a:hover{
    color:#00aaff;
}

.logo p{
    font-size:12px;
    margin:0;
}

/* Hero */
.hero{
    height:90vh;
    background:url("https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d") no-repeat center;
    background-size:cover;
    display:flex;
    align-items:center;
    padding-left:80px;
    color:white;
}

.hero-text h1{
    font-size:40px;
}

.hero button{
    padding:10px 20px;
    background:#007bff;
    border:none;
    color:white;
    cursor:pointer;
}

/* About */
.about{
    display:flex;
    padding:60px 80px;
    align-items:center;
}

.about img{
    width:300px;
}

.about-text{
    margin-left:40px;
}

.about-text button{
    padding:10px 20px;
    background:#007bff;
    border:none;
    color:white;
}